# ArgoCD Application for staging environment
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vauban-blog-staging
  namespace: argocd
  labels:
    app: vauban-blog
    environment: staging
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  source:
    repoURL: https://github.com/seritalien/vauban.blog.git
    targetRevision: main
    path: k8s/k8s/vauban-blog/staging

  destination:
    server: https://kubernetes.default.svc
    namespace: vauban-blog-staging

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m

  # Health check customization
  ignoreDifferences:
    - group: apps
      kind: Deployment
      jsonPointers:
        - /spec/replicas  # Ignore HPA changes

  # Notifications
  info:
    - name: url
      value: https://bastion.staging.vauban.tech
